.wrapper {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem; /* ✅ Điều chỉnh khoảng cách với header */
  }
  