.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .mainContent {
    flex: 1;
    background-color: #f1f5f9;
    padding-top: 6rem; /* ✅ Tạo khoảng cách với header cố định */
  }